@import "nullstyle.scss";
@import "header_footer.scss";
$redFire: rgba(244, 91, 105, 1);
$bl: rgb(9, 66, 171);

.main_head {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 440px;
    position: relative; 

}

.main_head::before {    
      content: "";
      background: url("../images/ryan2.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.85;
}



.main_section{
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
    position: relative;
    text-align: center;
    &_content{
        margin: 0 auto;
        padding-left: 30px;
        & h1{
            color: white;
            font-weight: bold;
            font-size: 50px;
            line-height: 60px;
            padding-bottom: 40px;
        }
    }

}

.car_list{

    max-width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.car_list_row {
    display: flex;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.car_list_col2{
    margin: 20px;
    width: 500px;
    margin-left: 30px;
    & h3{
        color: #151515;
        font-size: 28px;
        line-height: 1.2em;
        margin-top: 0;
        margin-bottom: 0;

        
    }
    & p{
        box-sizing: border-box;
        color: rgb(155, 155, 155);
        
        font-size: 15px;
        letter-spacing: 0.7px;
        line-height: 24px;
        margin-top: 17px;

    }
    .divade_line{
background-clip: border-box;
background-color: rgb(225, 225, 225);
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
box-sizing: border-box;
color: rgb(51, 51, 51);

height: 2.5px;
letter-spacing: 0.7px;
line-height: 2px;
margin-bottom: 20px;
margin-top: 20px;
text-align: left;
width: 470px;

    }
    .car_info{
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        line-height: 24px;
        max-width: 41.6667%;

    }
    .rent{
        text-align: left;
        border-radius: 4px;
        color: white;
        background-color: #1289d5; 
        padding: 15px; 
        margin: 370px;
    }
}