.header{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    
}

.menu{
    
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__logo{
        display: inline-block;
        width: 125px;
        height: 80px;
        min-width: 140px;
        background: url("../images/logo.webp") center/contain no-repeat ;
    }

    &__options{
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       
        .option{
            margin: 0 10px ;
            line-height: 40px;
            
            font-size: 16px;
            font-style: normal;
            color: grey;

            font-weight: 600;
            letter-spacing: .05em;
            text-transform: uppercase;
            font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            &:hover{
                color: black;
                text-shadow: 1px 2px 2px  whitesmoke;
            } 
            &:active{
                color: white;
                text-shadow: 2px 2px 8px black;
            }

        }

        @media (max-width:768px){
            display: none;
        }
      
    }
}

.footer{
    

    margin-top: auto; // to place footer below !!!!
    padding: 20px 10px;
    background-color: black;
    height: 140px;

    &__row{
        display: flex;
        margin: 0 -10px;

        margin: 0 auto;
        max-width: 1250px;
        @media(max-width:480px){
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    &__col{
        // flex-basis: 25%;
        padding: 0 10px;
        @media(max-width:480px){
            flex-basis: 100%;
        }
    }
    &__title{
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
        @media(max-width:768px){
            font-size: 12px;
        }
        
    }
    &__subtitle{
        text-align: center;
        line-height: 20px;
        color: gray;
        font-size: 14px;
        @media(max-width:768px){
            display: none;
        }
    }



}