.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  display: inline-block;
  width: 125px;
  height: 80px;
  min-width: 140px;
  background: url("../images/logo.webp") center/contain no-repeat;
}

.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__options .option {
  margin: 0 10px;
  line-height: 40px;
  font-size: 16px;
  font-style: normal;
  color: grey;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.menu__options .option:hover {
  color: black;
  text-shadow: 1px 2px 2px  whitesmoke;
}

.menu__options .option:active {
  color: white;
  text-shadow: 2px 2px 8px black;
}

@media (max-width: 768px) {
  .menu__options {
    display: none;
  }
}

.footer {
  margin-top: auto;
  padding: 20px 10px;
  background-color: black;
  height: 140px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  margin: 0 auto;
  max-width: 1250px;
}

@media (max-width: 480px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__col {
  padding: 0 10px;
}

.footer__col:first-child, .footer__col:nth-child(2) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer__col:nth-child(3), .footer__col:last-child {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@media (max-width: 480px) {
  .footer__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.footer__title {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 12px;
  }
}

.footer__subtitle {
  text-align: center;
  line-height: 20px;
  color: gray;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer__subtitle {
    display: none;
  }
}
